$color1: #dd5353;
$color2: #9e7676;
$color3: #594545;
$color4: #815b5b;
$color5: #b73e3e;
$color6: #d05555;
$color7: #815b5b;
$color8: #100e0e;
$color9: #eddbc0;
$color10: #b73e3e;
// $color1: #132e38;
// $color2: #4b5563;
// $color3: #1f2937;
// $color4: #374151;
// $color5: #1ae8c2;
// $color6: #6be8d1;
// $color7: #081c20;
// $color8: #111827;
// $color9: #6b7280;
// $color10: #74f0da;
